@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --primary-color: #0074e4;
  --secondary-color: #f9d3b4;
  --background-dark: #212426;
  --background-light: #343739;
  --text-color: #f0f0f0;
}

body {
  background-image: url('Movie\ bcg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: var(--font-roboto);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  position: relative;
}

/* Add an overlay to dim the background */
body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.app {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  color: var(--secondary-color);
}

.search {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 400;
  padding: 1rem;
  outline: none;
  color: var(--text-color);
  background: var(--background-light);
  border-radius: 3rem;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-left: 10px;
}

.empty {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie {
  width: 310px;
  height: 460px;
  margin: 1.5rem;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.movie:hover {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  color: var(--secondary-color);
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease-in-out;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: var(--background-light);
  padding: 16px 24px 24px 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: var(--font-raleway);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--secondary-color);
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: var(--font-roboto);
  color: var(--secondary-color);
}

.movie-imdb-link,
.movie-trailer-link {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 8px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  text-align: center;
  text-decoration: none;
}

.movie-imdb-link {
  background-color: var(--primary-color);
  color: #fff;
  margin-right: 8px;
}

.movie-imdb-link:hover {
  background-color: #0058a7;
}

.movie-trailer-link {
  background-color: #0074e4;
  color: #fff;
}

.movie-trailer-link:hover {
  background-color: #0058a7;
}

.movie-imdb-rating {
  margin-top: 8px;
  color: var(--secondary-color);
  font-family: var(--font-raleway);
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
}

.movie-box-office,
.movie-genres {
  margin-top: 8px;
  color: var(--secondary-color);
  font-family: var(--font-raleway);
  font-size: 14px;
  text-align: center;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: 100%;
    margin: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}
